<bean id="department" class="com.klef.jfsd.exam.Department">
    <property name="departmentName" value="Software Development" />
    <property name="managerName" value="John Doe" />
</bean>

<bean id="employee" class="com.klef.jfsd.exam.Employee" autowire="byType">
    <constructor-arg value="101" />
    <constructor-arg value="Alice" />
    <constructor-arg value="75000.50" />
    <constructor-arg value="IT" />
    <constructor-arg>
        <list>
            <value>Java</value>
            <value>Spring</value>
            <value>Hibernate</value>
        </list>
    </constructor-arg>
</bean>
